@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
	--text-10xl: 8rem;
	--text-10xl--line-height: 1;
	--text-11xl: 9rem;
	--text-11xl--line-height: 1;
	--text-12xl: 10rem;
	--text-12xl--line-height: 1;
	--text-13xl: 11rem;
	--text-13xl--line-height: 1;

	--font-sans: 'Public Sans', sans-serif;
}

@font-face {
	font-family: 'Harmoni';
	src: url('/Harmoni.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.font-harmoni {
	font-family: Harmoni, serif;
}

html {
	color-scheme: dark;
	min-width: 320px;
	scroll-behavior: smooth;
}

hr {
	border: none;
	border-top: 1px solid var(--color-neutral-300);
	margin: 1.5rem 0;
}

@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
	transition-property:
		color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}

.dark {
	--color-amber-50: #faf5ff;
	--color-amber-100: #f3e8ff;
	--color-amber-200: #e9d5ff;
	--color-amber-300: #d8b4fe;
	--color-amber-400: #c084fc;
	--color-amber-500: #a855f7;
	--color-amber-600: #9333ea;
	--color-amber-700: #3b0070;
	--color-amber-800: #1c0036;
	--color-amber-900: #0f001f;
	--color-amber-950: #080012;
}
